<script src="/webjars/jquery/jquery.min.js"></script>
<script src="/webjars/bootstrap/js/bootstrap.min.js"></script>
<title>Innopolis Air-hockey</title>
<link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">

<!--    <script src="/webjars/jquery/jquery.min.js"></script>-->
<!--    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->
<!--    <link rel="stylesheet" href="/webjars/bootstrap/css/bootstrap.min.css">-->

<!--style> Раскоментарить когда картинку отображать надо
    body { margin: 0 auto;
        font-family: Roboto, Helvetica, Tahoma, Verdana, Arial, sans-serif;
        font-size: 16px;
        background-color: #223a68 ;
        background-image: url('images/sky.jpg');  no-repeat;
        background-size: 100%;
    }
</style-->

<!--Муки творчества. Удалить в релизе-->
<!--    <script-->
<!--            src="https://code.jquery.com/jquery-3.4.1.slim.min.js"-->
<!--            integrity="sha256-pasqAKBDmFT4eHoN2ndd6lN370kFiGUFyTiUHWhU7k8="-->
<!--            crossorigin="anonymous"></script>-->

<!--    <script src="/webjars/jquery/3.4.0/jquery.slim.min.js"></script>-->
<!--    <script src="webjars/popper.js/1.12.9/umd/popper.min.js"></script>-->
<!--    <script src="webjars/bootstrap/3.3.7/js/bootstrap.min.js"></script>-->

<!--    <script src="/webjars/jquery/jquery.min.js"></script>-->
<!--    <script src="/webjars/bootstrap/js/bootstrap.min.js"></script>-->

<!--    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>-->
<!--    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>-->
<!--    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>-->

