<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Air-hockey</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">


    <!--style>
        body { margin: 0 auto;
            font-family: Roboto, Helvetica, Tahoma, Verdana, Arial, sans-serif;
            font-size: 16px;
            background-color: #223a68 ;
            background-image: url('images/sky.jpg');  no-repeat;
            background-size: 100%;
        }
    </style-->

</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0"
      bgcolor="#E0E0E0" >

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<!-- /login?error=true -->
<div th:if="${#request.getParameter('error') == 'true'}"
     style="color:red;margin:10px 0px;">
    Login Failed!!!<br />
    Reason :
    <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
          th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>

</div>


<div class="container" align="center">
    <table border="0" width="100%"  >
        <tr>
            <td align="center" width="20%">
                <!--nav class="navbar navbar-light bg-light">
                    <a class="navbar-brand" href="#">Default</a>
                </nav-->
            </td>
            <td align="center" width="60%"></td>
            <td align="left" width="20%" >
                <div class="col-sm">
                    <form class="form-sing" th:action="@{/j_spring_security_register}" th:object="${appuser}" method="POST">
                        <div class="form-group">
<!--                            <input type="text" th:field="*{login}"/>-->
                            <input type="text" th:field="*{name}" class="form-control" id="name" aria-describedby="Name" placeholder="Имя"/>
                            <input type="text" th:field="*{login}" class="form-control" id="login" aria-describedby="login" placeholder="Логин"/>
                            <input type="text" th:field="*{password}" class="form-control" id="password" placeholder="Введите пароль"/>
                            <input type="text" th:field="*{city}" class="form-control" id="city" placeholder="Город"/>
                            <input type="text" th:field="*{description}" class="form-control" id="description" placeholder="О себе"/>

<!--                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Повторите пароль">-->

                        </div>
                        <button type="submit" class="btn btn-primary">Регистрация</button>
                    </form>
                </div>
            </td>
        </tr>
    </table>
</div>

</body>

</html>