<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">

<head>
    <title>Air-hockey</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <th:block th:include="include/_bootsrap"></th:block>

    <style>
        th, td {
            padding: 5px;
        }
        td span  {
            font-size:90%;
            font-style: italic;
            color: red;
        }
        .error {
            color: red;
            font-style: italic;
        }
    </style>
</head>

<body topmargin="0" leftmargin="0" rightmargin="0" bottommargin="0" marginheight="0" marginwidth="0"
      bgcolor="#E0E0E0" >

<th:block th:include="include/_menu"></th:block>

<!-- /login?error=true -->
<div th:if="${#request.getParameter('error') == 'true'}"
     style="color:red;margin:10px 0px;">
    Login Failed!!!<br />
    Reason :
    <span th:if="${#session!= null and #session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION') != null}"
          th:utext="${#session.getAttribute('SPRING_SECURITY_LAST_EXCEPTION').message}">
                Static summary
         </span>
</div>


<div class="container" align="center">
    <table border="0" width="100%"  >
        <tr>
            <td align="center" width="10%">
            </td>
            <td align="center" width="40%"></td>
            <td align="left" width="50%" >
                <div class="col-sm">
                    <form class="form-sing" th:action="@{/j_spring_security_register}" th:object="${appUser}" method="POST">
                        <div class="form-group">
                            <table border="0" width="100%"  >
                                <tr>
                                    <td align="center" width="50%"><input type="text" th:field="*{name}" class="form-control" id="name" aria-describedby="Name" placeholder="Имя"/></td>
                                    <td align="left" width="50%"><small id="emailHelp" class="form-text text-muted"><span th:if="${#fields.hasErrors('name')}" th:errors="*{name}">..</span></small></td>
                                </tr>
                                <tr>
                                    <td align="center" width="50%"><input type="text" th:field="*{login}" class="form-control" id="login" aria-describedby="login" placeholder="Логин"/></td>
                                    <td align="left" width="50%"><small id="emailHelp" class="form-text text-muted"><span th:if="${#fields.hasErrors('login')}" th:errors="*{login}">..</span></small></td>
                                </tr>
                                <tr>
                                    <td align="center" width="50%"><input type="password" th:field="*{password}" class="form-control" id="password" placeholder="Введите пароль"/></td>
                                    <td align="left" width="50%"><small id="emailHelp" class="form-text text-muted"><span th:if="${#fields.hasErrors('password')}" th:errors="*{password}">..</span></small></td>
                                </tr>
                                <tr>
                                    <td align="center" width="50%"><input type="password" th:field="*{passwordConfirm}" class="form-control" id="passwordConfirm" placeholder="Повтор пароля"/></td>
                                    <td align="left" width="50%"><small id="emailHelp" class="form-text text-muted"><span th:if="${#fields.hasErrors('passwordConfirm')}" th:errors="*{passwordConfirm}">..</span></small></td>
                                </tr>
                                <tr>
                                    <td align="center" width="50%"><input type="text" th:field="*{city}" class="form-control" id="city" placeholder="Город"/></td>
                                </tr>
                                <tr>
                                    <td align="center" width="50%"><input type="text" th:field="*{description}" class="form-control" id="description" placeholder="О себе"/></td>
                                </tr>
                            </table>
<!--                            <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Повторите пароль">-->
                        </div>
                        <button type="submit" class="btn btn-primary">Регистрация</button>
                    </form>
                    <div th:if="${errorMessage != null}"
                         th:utext="${errorMessage}" class="error">...</div>
                </div>
            </td>
        </tr>
    </table>
</div>

</body>

</html>