<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Air-hockey</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <style>
        body { margin: 0 auto;
            font-family: Roboto, Helvetica, Tahoma, Verdana, Arial, sans-serif;
            font-size: 16px;
            background-color: #223a68 ;
            background-image: url('images/sky.jpg');  no-repeat;
            background-size: 100%;
        }
    </style>

</head>

<body>

<!-- Include _menu.html -->
<th:block th:include="/_menu"></th:block>

<h2>Message : <span th:utext="${message}"></span></h2>

</body>
</html>